.d-flex {
	display: flex;
}
.justify-content-between {
	justify-content: space-between;
}
.wd-30 {
	flex: 0 0 30%;
}
.wd-50 {
	flex: 0 0 50%;
}
.mb-2 {
	margin-bottom: 2em;
}
.mb-8 {
	margin-bottom: 8em;
}
.pt-5 {
	padding-top: 8em;
}
.align-center {
	align-items: center;
}
.h-auto {
	height: 100%;
}
